<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News NLP</title>
    <link rel="stylesheet" href="../styles/main.scss">
</head>
<body>
    <header>
        <h1>Analyze Sentiment</h1>
    </header>
    <main>
        <form id="emotion-form">
            <textarea id="article-text" placeholder="Enter text to analyze sentiment"></textarea>
            <button type="submit" id="submit-btn">Analyze Sentiment</button>
        </form>
        
        <div id="results">
            <p id="polarity"></p>
            <p id="confidence"></p>
        </div>
        
        
    </main>
    <footer>
        <p>&copy; 2025 Saif Dwekat</p>
    </footer>
</body>
</html>
